{% extends "layouts/default.html" %}
{% block title %}Welcome to Caveman2{% endblock %}
{% block content %}
<div class="container">
        <div id="control">
                <button type="button" id="play">▶</button>
                <button type="button" id="repeat">repeat</button>
                <button type="button" id="shuffle">shuffle</button>
        </div>
        <div id="playlist-container">
                <label for="playlist">Play list</label>
                <form>
                        <select id="playlist" name="PLAY-LIST" size="1" multiple>
                                <option></option>
                        </select>
                </form>
        <script>
                function eltInput () {
                        let index = document.getElementById("playlist").options.selectedIndex;
                        let option = document.getElementById("playlist").options[index];
                        option.text = prompt();
                }
        </script>
        </div>
</div>
{% endblock %}
