{% extends "layouts/default.html" %}
{% block title %}Welcome to Caveman2{% endblock %}
{% block content %}
<div class="container-fluid">
        <div id="control" class="container-fluid">
                <button type="button" id="play" onclick="play()" class="btn btn-outline-info">▶</button>
                <button type="button" id="pause" onclick="pause()" class="btn btn-outline-info">〓</button>
                <button type="button" id="stop" onclick="stop()" class="btn btn-outline-info">■</button>
                <button type="button" id="repeat" onclick="repeat()" class="btn btn-outline-info">{{repeat}}</button>
                <button type="button" id="shuffle" onclick="shuffle()" class="btn btn-outline-info">shuffle</button>
        </div>
        <div id="alert" class="container-fluid alert alert-light">
        </div>
        <div id="playlist-container" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);" class="container-fluid">
                <label for="playlist">Play list</label>
                <form>
                        <select id="playlist" name="PLAY-LIST" size="0" multiple class="form-control">
                        </select>
                </form>
                <button type="button" id="add-elt" onclick="addElt()" class="btn btn-outline-info">append</button>
        <script>
                function eltInput () {
                        let index = document.getElementById("playlist").options.selectedIndex;
                        let option = document.getElementById("playlist").options[index];
                        option.text = prompt();
                }

                var files = {};

                function play () {
                        let post = function (to, text) {
                                let form = new FormData ();
                                let http = new XMLHttpRequest ();
                                if (0 === text.search(/\[file\]*/)){
                                        form.append("FILE", files[text.slice(6)]);
                                } else {
                                        form.append("FILE", text);
                                }
                                http.open ("post", to, true);
                                http.onreadystatechange = function () {
                                        if (http.readyState === 4 && http.status === 200) {
                                                document.getElementById("alert").textContent = http.responseText;
                                        } else if (http.readyState === 4 && http.status !== 200) {
                                                document.getElementById("alert").textContent = http.status + http.responseText;
                                        } // else if
                                }
                                http.send (form);
                        }
                        let firstp = true;
                        for (let option of document.getElementById("playlist").options){
                                if (firstp && option.selected){
                                        firstp = false;
                                        post ("/play/file", option.text);
                                } else if (!firstp && option.selected){
                                        post ("/play/push", option.text);
                                } // else if
                        } // for
                        if (firstp){
                                document.getElementById("alert").textContent = "No file selected.";
                        }
                } // play

                function stop () {
                        let http = new XMLHttpRequest ();
                        http.open ("get", "/stop", true);
                        http.send ();
                }

                function pause () {
                        let http = new XMLHttpRequest ();
                        http.open ("get", "/toggle/pause", true);
                        http.send();
                }

                function shuffle () {
                        let http = new XMLHttpRequest ();
                        http.open ("get", "/toggle/shuffle", true);
                        http.send ();
                }

                function repeat () {
                        let mode = document.getElementById("repeat");
                        let modeCircle = { "false":"one", "one":"all", "all":"false"};
                        let nextMode = modeCircle[mode.textContent];
                        let http = new XMLHttpRequest ();
                        http.open ("post", "/repeat", true);
                        http.setRequestHeader ("Content-type", "application/x-www-form-urlencoded");
                        http.send ("MODE=" + nextMode);
                        mode.textContent = nextMode
                }

                function addElt (elt) {
                        let option = document.createElement("option");
                        option["ondblclick"] = eltInput;
                        option.text = elt||prompt();
                        let playlist = document.getElementById("playlist");
                        playlist.appendChild(option);
                        playlist.setAttribute("size", 1+parseInt(playlist.getAttribute("size")));
                }

                function dropHandler (event) {
                        event.preventDefault();
                        if (event.dataTransfer.items) {
                                // Use DataTransferItemList interface to access the file(s)
                                for (var i = 0; i < event.dataTransfer.items.length; i++) {
                                        // If dropped items aren't files, reject them
                                        if (event.dataTransfer.items[i].kind === 'file') {
                                                let file = event.dataTransfer.items[i].getAsFile();
                                                if (0 === file.type.search(/text*/)||"" === file.type){
                                                        let reader = new FileReader();
                                                        reader.readAsText(file);
                                                        reader.onload = function (){
                                                                reader.result
                                                                        .split(/\n/)
                                                                        .filter(function(x){return x!==""})
                                                                        .forEach(addElt);
                                                        }
                                                } else {
                                                        addElt("[file]" + file.name);
                                                        files[file.name] = file;
                                                }
                                        }
                                }
                        } else {
                                // Use DataTransfer interface to access the file(s) FIXME NIY.
                                for (var i = 0; i < event.dataTransfer.files.length; i++) {
                                        console.log('... file[' + i + '].name = ' + event.dataTransfer.files[i].name);
                                }
                        }
                }

                function dragOverHandler(ev) {
                        ev.preventDefault();
                }
        </script>
        </div>
</div>
{% endblock %}
