{% extends "layouts/default.html" %}
{% block title %}Welcome to Caveman2{% endblock %}
{% block content %}
<div class="container">
        <div id="control">
                <button type="button" id="play" onclick="play()">▶</button>
                <button type="button" id="stop" onclick="stop()">■</button>
                <button type="button" id="repeat" onclick="repeat()">{{repeat}}</button>
                <button type="button" id="shuffle" onclick="shuffle()">shuffle</button>
        </div>
        <div id="alert">
        </div>
        <div id="playlist-container">
                <label for="playlist">Play list</label>
                <button type="button" id="add-elt" onclick="addElt()">append</button>
                <form>
                        <select id="playlist" name="PLAY-LIST" size="20" multiple>
                        </select>
                </form>
        <script>
                function eltInput () {
                        let index = document.getElementById("playlist").options.selectedIndex;
                        let option = document.getElementById("playlist").options[index];
                        option.text = prompt();
                }

                function play () {
                        let post = function (to, text) {
                                let http = new XMLHttpRequest ();
                                http.open ("post", to, true);
                                http.setRequestHeader ("Content-type", "application/x-www-form-urlencoded");
                                http.onreadystatechange = function () {
                                        if (http.readyState === 4 && http.status === 200) {
                                                document.getElementById("alert").textContent = http.responseText;
                                        } else if (http.readyState === 4 && http.status !== 200) {
                                                document.getElementById("alert").textContent = http.status;
                                        } // else if
                                }
                                http.send ("FILE=" + text);
                        }
                        let firstp = true;
                        for (let option of document.getElementById("playlist").options){
                                if (firstp && option.selected){
                                        firstp = false;
                                        post ("/play/file", option.text);
                                } else if (!firstp && option.selected){
                                        post ("/play/push", option.text);
                                } // else if
                        } // for
                } // play

                function stop () {
                        let http = new XMLHttpRequest ();
                        http.open ("get", "/stop", true);
                        http.send ();
                }

                function shuffle () {
                        let http = new XMLHttpRequest ();
                        http.open ("get", "/toggle/shuffle", true);
                        http.send ();
                }

                function repeat () {
                        let mode = document.getElementById("repeat");
                        let modeCircle = { "false":"one", "one":"all", "all":"false"};
                        let nextMode = modeCircle[mode.textContent];
                        let http = new XMLHttpRequest ();
                        http.open ("post", "/repeat", true);
                        http.setRequestHeader ("Content-type", "application/x-www-form-urlencoded");
                        http.send ("MODE=" + nextMode);
                        mode.textContent = nextMode
                }

                function addElt () {
                        let option = document.createElement("option");
                        option["ondblclick"] = eltInput;
                        option.text = prompt();
                        document.getElementById("playlist").appendChild(option);
                }
        </script>
        </div>
</div>
{% endblock %}
